<h1>New grade</h1>
<%= "Course Selected: " %>
<%= @course.name %>
<br><br>
<%= form_for(@grade) do |f| %>
  <% if @grade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@grade.errors.count, "error") %> prohibited this grade from being saved:</h2>

      <ul>
      <% @grade.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
      <%= f.label @course.name %> 
  </div>
  <div class="field">
	  <%= f.label :Task %>
		<%= f.collection_select :task_id, @course.tasks.all, :id, :name, :prompt => "Select a Task" %>
  </div>
  <div class="field">
	  <%= f.label :Students %>
      <!--		<%= f.collection_select :student_id, @course.students.all, :id, :username, :prompt => "Select a Student" %> -->
      <% @course.students.each  do |s| %>
          <%= s.username  %><br>
      <% end %><br>
  </div>
<!--  <div class="field">
    <%= f.label :earned %><br />
    <%= f.number_field :earned %>
</div> -->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', grades_path %>
